@import "tailwindcss";

:root {
  --background: #121212;
  --border-color: #808080;
  --error-color: #ff2929;
  --purple-color: #5115f7;
  --text-sm: 14px;
  --text-sm-2: 16px;
  --text-md: 18px;
  --text-lg: 34px;
  --text-xl: 60px;
}

@theme {
  --color-background: var(--background);
  --color-grey: var(--border-color);
  --color-purple: var(--purple-color);
  --color-error: var(--error-color);
}

@layer base {
  body {
    @apply bg-background text-white;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 py-6 md:py-12 md:px-9 lg:py-21 lg:px-14;
  }
}

@layer components {
  .contrast-section {
    @apply bg-white text-black lg:bg-background lg:text-white;
  }
}
