@import "tailwindcss";

:root {
  --background: #121212;
  --border-color: #a3a3a3;
}

@theme {
  --color-background: var(--background);
  --color-grey: var(--border-color);
}

@layer components {
  .contrast-section {
    @apply bg-white text-black lg:bg-background lg:text-white;
  }
}
